# Default number of objects per page
PER_PAGE = 9

# Django secret key
SECRET_KEY = 'CHANGE-ME'

# 0 = False - 1 = True
DEBUG = 0

# 0 = False - 1 = True
SELENIUM_HEADLESS = 0

# Database settings
# Sqlite
DATABASE_ENGINE = 'CHANGE-ME'
DATABASE_NAME = 'CHANGE-ME'

# Postgres
# DATABASE_ENGINE='django.db.backends.postgresql'
# DATABASE_NAME="basededados"

DATABASE_USER = 'CHANGE-ME'
DATABASE_PASSWORD = 'CHANGE-ME'
DATABASE_HOST = 'CHANGE-ME'
DATABASE_PORT = "CHANGE-ME"