{% extends 'global/base.html' %}

{% block title %}Dashboard ({{ user }}) | {% endblock title %}

{% block content %}

  <div class="main-content center container" style="margin-top: 50px;">
    <h2>Dashboard ({{ user }})</h2>
    <!-- Mensagem informativa de login e link para logout do usuário -->
    {% include 'authors/partials/login_message.html'%}
    <!-- Incluindo mensagens de feedback -->
    {% include 'global/partials/messages.html'%}

    <!-- Exibição das receitas do usuário logado -->
    <div class="authors-dashboard-container">
      <h3>Your recipes</h3>
      <!-- Receitas -->
      <ul>
        {% for recipe in recipes %}
          <li>
            <!-- Ao clicar no título da receita, redireciona para página de edição dela -->
            <a href="{% url 'authors:dashboard_recipe_edit' recipe.id %}"> {{ recipe.title }} </a>
            
            <!-- Deletar receitas -->
              <form action="{% url 'authors:dashboard_recipe_delete' %}" class="inline-form form-delete" method="POST">
                {% csrf_token %}
                <!-- Campo escondido recebe o id da receita no loop atual em específico-->
                <input type="hidden" name="id" value="{{ recipe.id }}">
                <button class="plaintext-button" type="submit">❌</button>
              </form>
            <!-- Deletar receitas -->

          </li>
        {% empty %}
          <li>
            <p>You do not have recipes, please create one.</p>
          </li>
        {% endfor %}
      </ul>

    </div>
  </div>
{% endblock content %}