<!-- 
  Este bloco de template exibe mensagens diferentes com base no estado de autenticação do usuário.

  Quando o usuário está autenticado:
  - Mostra uma mensagem personalizada de boas-vindas com o nome de usuário.
  - Fornece um link para visualizar as receitas do usuário na dashboard do autor.
  - Oferece a opção de fazer logout.
-->

{% if request.user.is_authenticated %}
<div class="login-message">
  You are logged in with <strong>{{ request.user.username }}</strong>.

  <a href="{% url 'authors:dashboard' %}">See your recipes</a>,
  <a href="{% url 'authors:dashboard_recipe_new' %}">create a new recipe</a> or

  {% include 'authors/partials/form_logout.html' %}

  <a class="authors-logout-link" href="">click here</a>

  to logout
</div>
{% endif %}