{% extends 'global/base.html' %}

{% block title %} Home | {% endblock title %}

{% block content %}
        <div class="main-content main-content-list container">
            
            {% if recipe.is_published is True %}
                
                {% for recipe in recipes %}
                    {% include 'recipes/partials/recipe.html' %}
                {% endfor %}
            
            {% else %}
                
                <div class="center m-y">
                    <h1>No recipes found here 😢</h1>
                </div>
            
            {% endif %}
        
        </div>
{% endblock content %}